<div class="container mt-5">
    <!-- Header -->
    <div class="header mb-4">
      <h1 class="text-center">View Business Cards</h1>
    </div>
  
    <!-- Add Card Button -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="mb-0 text-muted">Your Business Cards</h2>
      <button routerLink="/Create" class="btn btn-primary btn-lg rounded-pill shadow">Add New Card</button>
    </div>
  
    <!-- Business Card Section -->
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let card of cards">
        <div class="flip-card-container">
          <div class="flip-card-inner position-absolute">
            <!-- Front Side -->
            <div class="flip-card-front">
              <div class="blue"></div>
              <div class="yellow"></div>
              <div class="pink"></div>
              <div class="dots"></div>
              <div class="personal-intro">
                
                    <img [src]="ConvertFromBase64(card.photo)" 
                         class="img-fluid" alt="Business Card Photo" 
                         style="height: 200px; object-fit: cover; width: 100%; transition: transform 0.5s;">
              
                
               
              </div>
            </div>
            <!-- Back Side -->
            <div class="flip-card-back">
          
              
              <div class="personal-info">
                <p>Name: {{ card.businessCard_Name }}</p>
                <p>Address: {{ card.businessCard_Address }}</p>
                <p>Phone: {{ card.businessCard_PhoneNumber }}</p>
                <p>Email: {{ card.businessCard_Email }}</p>
                <p>Gender: {{ card.businessCard_Gender }}</p>

              </div>
              
            </div>
          </div>
         
          
        </div>

        <div class="card-footer text-center border-0 bg-light">
            <button (click)="deleteBusinessCard(card.businessCardId)" class="btn btn-outline-danger btn-sm rounded-pill px-4 shadow">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
            <button  type="button" class="btn btn-secondary btn-sm rounded-pill px-4 shadow ml-2" data-toggle="modal" [attr.data-target]="'#exampleModal' + card.id">
                Learn More
              </button>
            
          </div>
      </div>
    </div>
  
 
    <div class="mt-5">
      <div class="input-group mb-3">
        <input type="file" class="form-control rounded-pill" (change)="onFileSelected($event)">
        <button (click)="uploadFiles()" class="btn btn-primary rounded-pill px-4">Upload</button>
      </div>
    </div>
  </div>
  
 
  <div *ngFor="let card of cards">
    <div class="modal fade" [id]="'exampleModal' + card.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ card.businessCard_Name }} - Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
            <p><strong>Gender:</strong> {{ card.businessCard_Gender }}</p>
            <p><strong>Date of Birth:</strong> {{ card.businessCard_Date_Of_Birth }}</p>
            <p><strong>Email:</strong> {{ card.businessCard_Email }}</p>
            <p><strong>Phone:</strong> {{ card.businessCard_PhoneNumber }}</p>
            <p><strong>Address:</strong> {{ card.businessCard_Address }}</p>
       
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  